@import "bourbon";
@import "vars.scss";

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
cursor: grab !important;
cursor: -webkit-grab !important;
}

.touch_mode_grabbing {
cursor: grabbing !important;
cursor: -webkit-grabbing !important;
}
/* ==========================*/

.bar-long{
  height: 5px;
  width: 0px;
  z-index: 1000;
  position: fixed;
  top: 0px; left: 0;
  background: $main_color;
}

/* ==========================*/

.tabs__content {
  display: none !important;
}

.tabs__content.active {
  display: block !important;
}

/* ==========================*/

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $second_color;}
}

.hidden{
    height: 0;
    width: 0;
}

div[id*="modal_callback"]{
  max-width: 400px;
  min-width: 320px;
  h2{
    font-size: 29px;
    line-height: 36px;
    margin: 30px 30px 0px;
  }
  .h2_desc{margin-bottom: 25px;}
  .md-content{
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center;
  }
  .form-wrap {
    display: block;
  }
  .field{
    max-width: 360px;
    width: 100%;
    input{
      width: 100%;
    }
  }
  .field+.field {
   margin-top: 25px
  }
  .btn{
    margin: 25px auto 0;
  }
}

.field{
    position: relative;
    display: inline-block;
}

div[id*="modal_politics"]{
  text-align: center;
  h2{padding-top: 20px;}
}

// .md-overlay{background: #fff;}

.md_large {
    max-width: 100%;
    width: 90%;
    }
.md_large .md-content > div.md_content {
    padding: 0px 40px 0px;
    }
.md_large .md-content p {
    font-size: 0.9em;
    line-height: 1.4;
    }
.md_large .md-content p:first-child {
    padding-top: 24px;
    }
.md_large .md-content p:last-child {
    padding-bottom: 24px;
    }
.md_large .md_content {
    max-height: 320px;
    overflow: auto;
    padding-top: 24px;
    }
.md_content:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 24px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    }
.md_content:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 24px;
    bottom:0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-repeat: repeat-x;
    }
.md-content h2 {
    text-align: center;
    }
.md_bottom {
    padding: 12px 0 0 0;
    }

.md-content .form_input {
    width: 45%;
}

.form_icon {
    position: absolute;
    width: 40px;
    color: #cfcfcf;
}
.form_icon i {
    font-size: 18px;
    line-height: 54px;
}




.allert, .allert_tell {
    position: absolute;
    z-index: 20;
    top: 50%;
    margin-top: -10px;
    display: block;
    right: 15px;
    height: 20px;
    width: 20px;
    color: #FF6565;
    cursor: default;
}


.allert:hover, .allert_tell:hover{
    text-decoration : none;
}

.allert span, .allert_tell span {
    display: none;
    opacity: 0;
    padding : 5px;
    margin-left : 5px;
    line-height: 14px;
    color:#000;
    font-style:italic;
    font-size: 13px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 140px;
    text-align: center;
}
.allert:hover span, .allert_tell:hover span {
    border : 1px solid #FF6565;
    background : #fff;
    display : inline;
    position : absolute;
    color : #4e4e4e;
    right:24px;
    top:-10px;
    opacity: 1;
}

.btn_close_modal{
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 15px;
  svg{width: 40px;}
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  a:hover{
    color: #000;
    svg {
      .a {fill: #DD1A1E; }
    }
  }
}

.t_small{
        font-size: 14px;
}


.slick-dots {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  height:12px;
  width:12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li.slick-active button { background: $main_color; }

.slick-dots li button {
  background-color: $gray;
  border-radius: 50%;
  // border: 2px solid #000;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 8px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 8px;
}


.slick-next{
      z-index: 10;
      right: 0;
      background: url(../img/slider-next.png) top center no-repeat;
    }
.slick-prev{
      background: url(../img/slider-prev.png) top center no-repeat;
      z-index: 10;
      right: 60px;
  }

.slick-next:before, .slick-prev:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: 10;
  transition: 0.6s;
}

.slick-next:before{
  background: url(../img/slider-next-hovert.png) center no-repeat;
}

.slick-prev:before{
  background: url(../img/slider-prev-hovert.png) center no-repeat;
}

.slick-next, .slick-prev{
    position: absolute;
    display: block;
    cursor: pointer !important;
    width: 19px;
    height: 19px;
    border: none;
    outline: none;
    top: -40px;
  }

.slick-slide{outline: none;}

.slick-next:hover:before{
  opacity: 1;
}

.slick-prev:hover:before{
  opacity: 1;
}




input{
  background: none;
  border: none;
  padding: 15px 0;
  font: 18px/20px $main_font;
}

input:focus{
  border-bottom: 5px solid $main_color !important;
}

input[type="text"]{border-bottom: 5px solid #a2a2a2;}
input[type="email"]{border-bottom: 5px solid #e4e4e4;}
input[type="tel"]{border-bottom: 5px solid #ccc ;}


input::-webkit-input-placeholder{
  color: black;
  letter-spacing: 0.16em;
  color:  #9b9b9b;
  font: 16px $main_font;
}

input:-moz-placeholder{
  color: black;
  letter-spacing: 0.16em;
  color:  #9b9b9b;
  font: 16px $main_font;
}

input::-moz-placeholder{
  color: black;
  letter-spacing: 0.16em;
  color:  #9b9b9b;
  font: 16px $main_font;
}

input:-ms-input-placeholder{
  color: black;
  letter-spacing: 0.16em;
  color:  #9b9b9b;
  font: 16px $main_font;
}

input:focus::-webkit-input-placeholder {
  transition: text-indent 1.5s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}
