@import "bourbon";


$main_color : #faca00;
$second_color: #333535;
$gray: #697070;

$main_font: "FuturaPT-Medium", sans-serif;
$Bebas: "BebasNeueCyrillic", sans-serif;

$Futura_300: "FuturaPT-Demi", sans-serif;
$Futura_299: "FuturaPT-Book", sans-serif;
