@import "bourbon";
@import "vars.scss";

body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	font: 18px/27px  Roboto;
  letter-spacing: .08em;
  color: black;
	background-color: #fff;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	width: 0;
	height: 0;
}